{% if object.isDisabled %}
    <a class="btn btn-sm label label-default">Disable</a>
{% else %}
    <a class="btn btn-sm label label-info" href="{{ admin.generateObjectUrl('disable', object) }}">Disable</a>
{% endif %}
